@font-face {
  font-family: 'Schnyder X Cond L';
  src: url('../assets/fonts/Schnyder_X_Condensed/SchnyderXCondLDemi.woff2')
      format('woff2'),
    url('../assets/fonts/Schnyder_X_Condensed/Schnyder_X_Cond_L_Demi.woff')
      format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TT_Travel/TTTravels-Light.woff') format('woff');
  font-weight: 300;
}
