@font-face {
  font-family: 'Schnyder X Cond XL';
  src: url('../assets/fonts/Schnyder_X_Condensed/Schnyder_X_Cond_XL_Bold.otf')
    format('otf');
  font-weight: 800;
}

@font-face {
  font-family: 'Schnyder X Cond XL';
  src: url('../assets/fonts/Schnyder_X_Condensed/Schnyder_X_Cond_XL_Demi.otf')
    format('otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Schnyder X Cond XL';
  src: url('../assets/fonts/Schnyder_X_Condensed/Schnyder_X_Cond_XL_Light.otf')
    format('otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Schnyder X Cond L';
  src: url('../assets/fonts/Schnyder_X_Condensed/Schnyder_X_Cond_L_Bold.otf')
    format('otf');
  font-weight: 800;
}

@font-face {
  font-family: 'Schnyder X Cond L';
  src: url('../assets/fonts/Schnyder_X_Condensed/SchnyderXCondLDemi.woff2')
      format('woff2'),
    url('../assets/fonts/Schnyder_X_Condensed/Schnyder_X_Cond_L_Demi.woff')
      format('woff'),
    url('../assets/fonts/Schnyder_X_Condensed/Schnyder_X_Cond_L_Demi.otf')
      format('otf'),
    url('../assets/fonts/Schnyder_X_Condensed/Schnyder_X_Cond_L_Demi.ttf')
      format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Schnyder X Cond L';
  src: url('../assets/fonts/Schnyder_X_Condensed/Schnyder_X_Cond_L_Light.otf')
    format('otf');
  font-weight: 400;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TT_Travel/TTTravels-Black.ttf') format('ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TT_Travel/TTTravels-BlackItalic.ttf') format('ttf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TT_Travel/TTTravels-ExtraBold.ttf') format('ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TT_Travel/TTTravels-ExtraBoldItalic.ttf')
    format('ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TT_Travel/TTTravels-Bold.ttf') format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TT_Travel/TTTravels-BoldItalic.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TT_Travel/TTTravels-DemiBold.ttf') format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TT_Travel/TTTravels-DemiBoldItalic.ttf')
    format('ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TT_Travel/TTTravels-Medium.ttf') format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TT_Travel/TTTravels-MediumItalic.ttf') format('ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TT_Travel/TTTravels-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TT_Travel/TTTravels-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TT_Travel/TTTravels-Light.woff') format('woff'),
    url('../assets/fonts/TT_Travel/TTTravels-Light.ttf') format('ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TT_Travel/TTTravels-LightItalic.ttf') format('ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TT_Travel/TTTravels-ExtraLight.ttf') format('ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TT_Travel/TTTravels-ExtraLightItalic.ttf')
    format('ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TT_Travel/TTTravels-Thin.ttf') format('ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TT_Travel/TTTravels-ThinItalic.ttf') format('ttf');
  font-weight: 100;
  font-style: italic;
}
