.menu
  .menu__button
  nav
    ul.menu__list
      li.menu__item
        a.menu__link(href="#") Commercial
      li.menu__item
        a.menu__link(href="#") Editorial
      li.menu__item
        a.menu__link(href="#") Reportage
      li.menu__item
        a.menu__link(href="#") Meet me
