include /components/link/link

.menu
  .menu__button
  nav
    ul.menu__list
      li.menu__item
        +link("#", "Commercial")
      li.menu__item
        +link("#", "Editorial")
      li.menu__item
        +link("#", "Reportage")
      li.menu__item
        +link("#", "Meet me")
