include /components/title/title

.swiper
  .swiper-container
    .swiper-wrapper
        .swiper-slide
          +title("ink lingerie")
        .swiper-slide
          +title("ink lingerie")
        .swiper-slide
          +title("ink lingerie")