.swiper
  .swiper-wrapper
    .swiper-slide(data-photo-src="assets/image1.png") 
      | ink lingerie
    .swiper-slide(data-photo-src="assets/image3.png") 
      | ink lingerie
    .swiper-slide(data-photo-src="assets/image2.png") 
      | ink lingerie