extends /components/layout/layout

block head
	- var pageTitle = 'Ink Lingerie';

block content
	.page__header
		include /components/header/header
	.page__content
		include /components/swiper/swiper
	.page__footer
		include /components/footer/footer