mixin page()
	body.page&attributes(attributes)
		.page__bg-line
			include /components/bg-line/bg-line
		.page__bg-photos
			.page__scene
				.page__scene-layer.page__scene-layer-1(data-depth=0.2)
					img.page__photo.page__photo--prev
				.page__scene-layer.page__scene-layer-2(data-depth=0.5)
					img.page__photo.page__photo--active
				.page__scene-layer.page__scene-layer-3(data-depth=0.8)
					img.page__photo.page__photo--next
			img.page__photo.page__photo--mobile
		.page__container
			block
		.page__mouse-text drag me
		script(src="scripts/main.js")