.page {
  height: 100vh;
  background-color: $bg-color;
  font-family: $text-font;
  color: $text-color;
  cursor: url('../assets/cursor.png'), auto;

  &__bg-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__bg-photos {
    width: 275px;
    height: 370px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: bg-photos-start 2s ease 3s forwards;
  }

  &__scene {
    display: none;
    width: 100%;
    height: 100%;
  }

  &__scene-layer {
    width: 100%;
    height: 100%;
  }

  &__photo {
    object-fit: cover;
  }

  &__photo--prev {
    position: absolute;
    top: 10%;
    left: 0;
    transform: rotate(1.1deg);
  }

  &__photo--active {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(1.5deg);
  }

  &__photo--next {
    position: absolute;
    right: 0;
    bottom: 5%;
    transform: rotate(2deg);
  }

  &__photo--mobile {
    display: block;
    width: 250px;
    height: 370px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(1.5deg);
  }

  &__container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  &__header {
    padding: 15px 20px 0;
  }

  &__swiper {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__footer {
    padding-left: 20px;
    padding-bottom: 20px;
  }

  &__mouse-text {
    display: none;
    font-family: $text-font;
    font-size: 8px;
    line-height: 10px;
    color: $text-color;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  @media screen and (min-width: 414px) {
    &__photo--mobile {
      width: 275px;
      height: 400px;
    }

    &__header {
      padding-top: 30px;
      padding-left: 25px;
      padding-right: 25px;
    }

    &__footer {
      padding-left: 25px;
      padding-bottom: 25px;
    }
  }

  @media screen and (min-width: 768px) {
    &__bg-photos {
      width: 700px;
    }

    &__scene {
      display: block;
    }

    &__photo--mobile {
      display: none;
    }

    &__photo--prev {
      width: 160px;
      height: 225px;
    }

    &__photo--active {
      width: 360px;
      height: 530px;
    }

    &__photo--next {
      width: 235px;
      height: 160px;
    }

    &__header {
      padding-top: 25px;
      padding-left: 30px;
      padding-right: 30px;
    }

    &__footer {
      padding-left: 30px;
      padding-bottom: 30px;
    }

    &__mouse-text {
      display: block;
    }
  }

  @media screen and (min-width: 1024px) {
    &__bg-photos {
      width: 720px;
      height: 540px;
    }

    &__photo--prev {
      width: 160px;
      height: 225px;
    }

    &__photo--active {
      width: 360px;
      height: 530px;
    }

    &__photo--next {
      width: 235px;
      height: 160px;
    }
  }

  @media screen and (min-width: 1440px) {
    &__bg-photos {
      width: 950px;
      height: 700px;
    }

    &__photo--prev {
      width: 240px;
      height: 330px;
    }

    &__photo--active {
      width: 475px;
      height: 700px;
    }

    &__photo--next {
      width: 345px;
      height: 240px;
    }

    &__header {
      padding-top: 40px;
      padding-left: 50px;
      padding-right: 50px;
    }

    &__footer {
      padding-left: 50px;
      padding-bottom: 45px;
    }
  }
}

@keyframes bg-photos-start {
  to {
    opacity: 1;
  }
}
