.page {
  height: 100vh;
  background-color: #ffffff;

  &__container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__header {
    position: absolute;
    top: 40px;
    left: 50px;
    right: 50px;
  }
}
