.link {
  font-family: $text-font;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  color: $text-color;
  letter-spacing: 0.02em;
  font-style: normal;
  text-transform: capitalize;
  text-decoration: none;
}
